<div class="container">
    <div class="body">
        <div class="tittle">
            <h3>Mis Habailidades</h3>
        </div>
        <div class="container-habilites">
            <ul>
                <li>
                    <span>Java</span>
                    <img src="assets/icons/java.svg" alt="">
                </li>
                <li>
                    <span>Spring Boot</span>
                    <img src="assets/icons/spring.svg" alt="">
                </li>
                <li>
                    <span>SQL Server</span>
                    <img src="assets/icons/sql-server.svg" alt="">
                </li>
                <li>
                    <span>MySql</span>
                    <img src="assets/icons/mysql.svg" alt="">
                </li>
                <li>
                    <span>PostGressql</span>
                    <img src="assets/icons/postgresql.svg" alt="">
                </li>
                <li>
                    <span>Postman</span>
                    <img src="assets/icons/postman.svg" alt="">
                </li>
                <li>
                    <span>Git</span>
                    <img src="assets/icons/git.svg" alt="">
                </li>
                <li>
                    <span>TypeScript</span>
                    <img src="assets/icons/typescript.svg" alt="">
                </li>
                <li>
                    <span>NestJs</span>
                    <img src="assets/icons/nestjs.svg" alt="">
                </li>
                <li>
                    <span>Angular</span>
                    <img src="assets/icons/angular.svg" alt="">
                </li>
            </ul>
        </div>
    </div>

</div>