<div class="container">
    <div class="container-body">


        <div class="left">
            <div class="about-me">
                <h3>Hola, Soy Daniel Quiñonez </h3>
                <div class="item-1"><span>Disponible para trabajar | <span style="color: gray;">Trabajando actualmente</span></span></div>
            </div>
            <div class="perfil">
                Me llamo <span style="color: yellow;">Daniel Quiñonez</span>, Desarrollador Web con más de 1 año de experiencia en el desarrollo de aplicaciones
                web. He trabajado con tecnologías modernas tanto en el backend (<span style="color: rgb(9, 167, 9);">Spring Boot</span>, <span style="color: rgb(196, 13, 135);">NestJS</span>) como en el frontend
                (<span style="color: blueviolet;">Angular</span>), además de bases de datos como SQL Server, MySQL y PostgreSQL. Mi objetivo es crear soluciones
                robustas, escalables y eficientes que resuelvan las necesidades de negocio y proporcionen una excelente
                experiencia al usuario.
            </div>
            <div class="experience">
                <p>+1 años de experiencia. <span>Desarrollador web</span>. <span>Colombia</span> </p>
            </div>
            <div class="info-for-me">
                <ul>
                    <li>
                        <img src="../../../assets/icons/linkedin.svg" alt="">
                        <span>
                            Linkedin
                        </span>
                    </li>

                    <li>
                        <img src="../../../assets/icons/github-dark.svg" alt="">
                        <span>
                            GitHub
                        </span>
                    </li>

                    <li>
                        <img src="../../../assets/icons/gmail.svg" alt="">
                        <span>
                            3003953317.z.com
                        </span>
                    </li>



                </ul>
            </div>
        </div>

        <div class="right">
            <div class="image">
                <img src="../../../assets/images/avatar.png" alt="">
            </div>
        </div>



    </div>

</div>