<div class="container">


    <div class="body">
        <div class="tittle">
            <img src="assets/icons/codigo.png" alt="">
            <h3>Mis Proyectos</h3>
        </div>

        <div class="list-projects">

            <div class="container-project" *ngFor="let project of projects" (click)="openProject(project.url)">

                <!-- Imagen si existe -->
                <div class="image-background" *ngIf="project.image">
                    <img [src]="project.image" alt="">
                </div>

                <!-- Lista de iconos -->
                <div class="items-1">
                    <ul>
                        <li *ngFor="let icon of project.icons">
                            <img [src]="icon" alt="">
                        </li>
                    </ul>
                </div>

                <div class="items-2">
                    <h4>{{ project.title }}</h4>
                </div>

            </div>

        </div>
    </div>
</div>