<div class="nav-bar">
  <button class="hamburger" (click)="toggleMenu()">
    <img src="assets/icons/menu.png" alt="">
  </button>

  <ul class="nav-menu" [ngClass]="{'active': isActiveMenu}">
    <li><a>Inicio</a></li>
    <li (click)="scrollToElement('experiencia')"><a>Experiencia</a></li>
    <li (click)="scrollToElement('skills')"><a>Skills</a></li>
    <li (click)="scrollToElement('proyectos')"><a>Proyectos</a></li>
    <li><a href="https://wa.me/573215218780">Contactame</a></li>
  </ul>
</div>