.nav-bar {
    max-width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.nav-bar ul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 28px;
    border-radius: 50px;
    animation: navbarGlow 3s ease-in-out infinite;
    position: fixed;
}

@keyframes navbarGlow {
    0% {
        box-shadow:
            0 0 8px greenyellow,
            0 0 16px rgba(173, 255, 47, 0.5);
    }

    25% {
        box-shadow:
            0 0 8px #fcb900,
            0 0 16px rgba(252, 185, 0, 0.5);
    }

    50% {
        box-shadow:
            0 0 8px rgb(47, 255, 238),
            0 0 16px rgba(47, 255, 238, 0.5);
    }

    75% {
        box-shadow:
            0 0 8px #0050fc,
            0 0 16px rgba(0, 80, 252, 0.5);
    }

    100% {
        box-shadow:
            0 0 8px rgb(206, 47, 255),
            0 0 16px rgba(206, 47, 255, 0.5);
    }
}


.nav-bar ul li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.nav-bar ul li:hover {
    background-color: rgb(6, 145, 6);
}

.nav-bar ul li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hamburger img {
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content: flex-end;
        margin-bottom: 30px;
    }

    .hamburger {
        display: block;
        z-index: 100;
    }

    .nav-bar ul {
        display: none;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) translateY(-10px);
        width: 90%;
        flex-direction: column;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 15px;
        opacity: 0;
        gap: 15px;
        transition: transform 0.3s ease, opacity 0.3s ease;

    }

    .nav-bar ul.active {
        display: flex;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
    }
}