/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    background-color: rgb(26, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}


body {
    height: 100%;
}

.border {
    position: fixed;
    height: 100%;
    width: 6px;
    left: 0;
    background: linear-gradient(180deg,
            greenyellow 0%,
            #fcb900 25%,
            rgb(47, 255, 238) 50%,
            #0050fc 75%,
            rgb(206, 47, 255) 100%);
    background-size: 100% 200%;
    animation: borderPulse 2s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(173, 255, 47, 0.5);
}

.border::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background: rgba(255, 255, 255, 0.3);
    animation: borderWave 1.5s ease-in-out infinite;
    filter: blur(2px);
}

@keyframes borderPulse {

    0%,
    100% {
        background-position: 0% 0%;
        opacity: 1;
    }

    50% {
        background-position: 0% 100%;
        opacity: 0.7;
    }
}

@keyframes borderWave {
    0% {
        top: 0%;
        height: 20%;
    }

    25% {
        top: 30%;
        height: 40%;
    }

    50% {
        top: 50%;
        height: 25%;
    }

    75% {
        top: 20%;
        height: 35%;
    }

    100% {
        top: 0%;
        height: 20%;
    }
}